In [1]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup as bs
import mechanize
#import http.cookiejar as cookiejar
import re
import requests
import html
import unicodedata
import json
import acquire

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

### Exercises 

- The end result of this exercise should be a file named prepare.py that defines the requested functions.

- In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

        Lowercase everything
        Normalize unicode characters
        Replace anything that is not a letter, number, whitespace or a single quote.

2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

        This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

8. For each dataframe, produce the following columns:

        title to hold the title
        original to hold the original article/post content
        clean to hold the normalized and tokenized original with the stopwords removed.
        stemmed to hold the stemmed version of the cleaned data.
        lemmatized to hold the lemmatized version of the cleaned data.

9. Ask yourself:

        If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
        If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
        If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?

### 1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

     Lowercase everything
     Normalize unicode characters
     Replace anything that is not a letter, number, whitespace or a single quote.

In [15]:
def basic_clean(string):
    string = string.lower()
    string = unicodedata.normalize('NFKD', string)\
        .encode('ascii', 'ignore')\
        .decode('utf-8', 'ignore')
    string = re.sub(r"[^a-z0-9'\s]", '', string)
    return string

### 2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [3]:
def tokenize(string):
    tokenizer = nltk.tokenize.ToktokTokenizer()
    return(tokenizer.tokenize(string, return_str=True)[0:500])

### 3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [69]:
def stem(string):
    '''
    This function takes in a string and
    returns a string with words stemmed.
    '''
    # create our stemming object
    ps = nltk.porter.PorterStemmer()
    # use a list comprehension => stem each word for each word inside of the entire document,
    # split by the default, which are single spaces
    stems = [ps.stem(word) for word in string.split()]
    # glue it back together with spaces, as it was before
    string = ' '.join(stems)
    
    return string

### 4.Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [67]:
def lemmatization(text):
    wnl = nltk.stem.WordNetLemmatizer()
    for word in text.split():
        return('stem:', ps.stem(word), '-- lemma:', wnl.lemmatize(word))

### 5.Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

    This function should define two optional parameters, extra_words and exclude_words. 
    These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [6]:
def remove_stopwords(text):
    stopword_list = stopwords.words('english')
    stopword_list.remove('no')
    stopword_list.remove('not')
    stopword_list[:10]
    words = text.split()
    filtered_text = [w for w in words if w not in stopword_list]
    return filtered_text
    text_without_stopwords = ' '.join(filtered_text)
    return text_without_stopwords

### 6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [52]:
news_df = acquire.get_news_articles_data()

### 7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [8]:
codeup_df = acquire.get_blog_articles_data()

### 8. For each dataframe, produce the following columns:

     title to hold the title
     original to hold the original article/post content
     clean to hold the normalized and tokenized original with the stopwords removed.
     stemmed to hold the stemmed version of the cleaned data.
     lemmatized to hold the lemmatized version of the cleaned data.

In [53]:
news_df.head()

,title,content,category
0,"Rebel Sena MP is party's leader in Lok Sabha, ...",Maharashtra Chief Minister Eknath Shinde on Tu...,national
1,Situation is exceptional but comparing it with...,The government hosted an all-party meeting on ...,national
2,"Huge sinkhole opens up in New York City, swall...",A video has gone viral showing a huge sinkhole...,national
3,Farmer files complaint against Lord Indra over...,A UP farmer submitted a written complaint to t...,national
4,I retired from ODIs due to horrendous schedule...,Ex-England captain Kevin Pietersen took to Twi...,national

In [54]:
news_df['original'] = news_df.content

In [55]:
news_df.head()

,title,content,category,original
0,"Rebel Sena MP is party's leader in Lok Sabha, ...",Maharashtra Chief Minister Eknath Shinde on Tu...,national,Maharashtra Chief Minister Eknath Shinde on Tu...
1,Situation is exceptional but comparing it with...,The government hosted an all-party meeting on ...,national,The government hosted an all-party meeting on ...
2,"Huge sinkhole opens up in New York City, swall...",A video has gone viral showing a huge sinkhole...,national,A video has gone viral showing a huge sinkhole...
3,Farmer files complaint against Lord Indra over...,A UP farmer submitted a written complaint to t...,national,A UP farmer submitted a written complaint to t...
4,I retired from ODIs due to horrendous schedule...,Ex-England captain Kevin Pietersen took to Twi...,national,Ex-England captain Kevin Pietersen took to Twi...

In [58]:
news_df['clean'] = news_df.content.apply(basic_clean)

In [59]:
news_df['clean']

0      maharashtra chief minister eknath shinde on tu...
1      the government hosted an allparty meeting on s...
2      a video has gone viral showing a huge sinkhole...
3      a up farmer submitted a written complaint to t...
4      exengland captain kevin pietersen took to twit...
                             ...
295    authorities in karnataka's dakshina kannada di...
296    at least 22 people were killed and 33 people w...
297    the management of the vishnu temple in canada'...
298    india is on course to achieve projected 885 gr...
299    hindustan unilever limited hul on tuesday repo...
Name: clean, Length: 300, dtype: object

In [60]:
news_df['clean'] = news_df.clean.apply(tokenize)
news_df['clean']

0      maharashtra chief minister eknath shinde on tu...
1      the government hosted an allparty meeting on s...
2      a video has gone viral showing a huge sinkhole...
3      a up farmer submitted a written complaint to t...
4      exengland captain kevin pietersen took to twit...
                             ...
295    authorities in karnataka ' s dakshina kannada ...
296    at least 22 people were killed and 33 people w...
297    the management of the vishnu temple in canada ...
298    india is on course to achieve projected 885 gr...
299    hindustan unilever limited hul on tuesday repo...
Name: clean, Length: 300, dtype: object

In [61]:
news_df['clean'] = news_df.clean.apply(remove_stopwords)
news_df['clean']

0      [maharashtra, chief, minister, eknath, shinde,...
1      [government, hosted, allparty, meeting, sri, l...
2      [video, gone, viral, showing, huge, sinkhole, ...
3      [farmer, submitted, written, complaint, local,...
4      [exengland, captain, kevin, pietersen, took, t...
                             ...
295    [authorities, karnataka, ', dakshina, kannada,...
296    [least, 22, people, killed, 33, people, injure...
297    [management, vishnu, temple, canada, ', toront...
298    [india, course, achieve, projected, 885, growt...
299    [hindustan, unilever, limited, hul, tuesday, r...
Name: clean, Length: 300, dtype: object

In [72]:
news_df['stemmed'] = news_df['content'].apply(stem)
news_df['stemmed']

0      maharashtra chief minist eknath shind on tuesd...
1      the govern host an all-parti meet on sri lanka...
2      a video ha gone viral show a huge sinkhol open...
3      a up farmer submit a written complaint to the ...
4      ex-england captain kevin pietersen took to twi...
                             ...
295    author in karnataka' dakshina kannada district...
296    at least 22 peopl were kill and 33 peopl were ...
297    the manag of the vishnu templ in canada' toron...
298    india is on cours to achiev project 8-8.5% gro...
299    hindustan unilev limit (hul) on tuesday report...
Name: stemmed, Length: 300, dtype: object

In [68]:
news_df['lemmatized'] = news_df.clean.apply(lemmatization)

AttributeError: 'list' object has no attribute 'split'

AttributeError: 'Series' object has no attribute 'split'

'Maharashtra Chief Minister Eknath Shinde on Tuesday said Lok Sabha Speaker Om Birla has recognised rebel Shiv Sena MP Rahul Shewale as the party \' s floor leader in the Lower House of Parliament. " Shiv Sena MPs too have supported us in our stand to uphold ideals of Balasaheb Thackeray , " Shinde added , while speaking to mediapersons in Delhi .'

['Maharashtra',
 'Chief',
 'Minister',
 'Eknath',
 'Shinde',
 'Tuesday',
 'said',
 'Lok',
 'Sabha',
 'Speaker',
 'Om',
 'Birla',
 'recognised',
 'rebel',
 'Shiv',
 'Sena',
 'MP',
 'Rahul',
 'Shewale',
 "party's",
 'floor',
 'leader',
 'Lower',
 'House',
 'Parliament.',
 '"Shiv',
 'Sena',
 'MPs',
 'supported',
 'us',
 'stand',
 'uphold',
 'ideals',
 'Balasaheb',
 'Thackeray,"',
 'Shinde',
 'added,',
 'speaking',
 'mediapersons',
 'Delhi.']